.container{
    display: grid;
    height: 100vh;
    grid-template-columns:1fr 6fr 1fr  ;
    grid-template-rows:0.5fr 4fr 0.5fr ;
    grid-area: 
    "header header header "
    "Sidebar leftsidebar Maincontent rightsidebar"
    "Sidebar footer footer footer "

    ;
    grid-gap: 10px;
}
header{
    background-color: #FE8515;
    grid-area:header;
}

#leftsidebar{
    background-color: #7FC242;
    grid-area: leftsidebar;
}
#maincontent{
    background-color:#8BF10A ;
    grid-area: maincontent;
}
#rightsidebar{
    background-color: #7FC242;
    grid-area: rightsidebar;
}
footer{
    background-color: #F57E20;
    grid-area: footer;
}

