.container{
    display: grid;
    height:100vh;
    grid-template-columns:1fr 1fr 1fr  ;
    grid-template-rows:0.5fr 0.8fr 0.5fr ;
    grid-template-areas: 
    "nav nav nav "
    "leftsidebar maincontent rightsidebar"
    "footer footer footer"

    ;
    grid-gap: 10px
}
nav{
    background-color: #FE8515;
    grid-area:nav;
}

#leftsidebar{
    background-color: #7FC242;
    grid-area: leftsidebar;
}
main{
    background-color:#8BF10A ;
    grid-area: maincontent;
}
#rightsidebar{
    background-color: #7FC242;
    grid-area: rightsidebar;
}
footer{
    background-color: #F57E20;
    grid-area: footer;
}

